*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

/* TIPOGRAFIAS  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/* MOBILE FIRST */

header{
    background-color: #F0A83E;
}

.descuentos-header{
    display: none;
}

.principal-header{
    display:flex;
    background-color: #F0A83E;
    height:62px;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: none;
}

.logo-header{
    margin-left: 40px;  
}

.burger-header{
    margin-right: 40px;
}

/*                      MAIN                         */

/*     SECTION     SLIDER  */

.slider{
    background-image: url("../img/mobile-slider.png");
    height:440px;
    width: 100%;
    background-size: contain;

}

/* DIV H2 Y P */
.container-slider{
    padding: 148px 25px 211px 24px;
    margin-bottom: 12px;
}
.top-container-slider{
    width: 365px;
    height: 54px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
 .top-container-slider h2{
    color: #3C2313;
    font-size: 25px;
    line-height: 29px;
 }

.bottom-container-slider{
    height:27px;
}
.bottom-container-slider p{
    padding-top:12px;
    padding-right: 2px;
    color: #3C2313;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}

/* BOTON */

.button{
        background-color: #F0A83E;
        padding: 15px 23px;
        margin-top:12px;
        width: 141px;
        height: 49px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute ;
        right:44px
}

.a-button{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    
}


/*                           DESKTOP                  */


@media (min-width:415px){

    /*                        HEADER                */

    /* SECTION DESCUENTOS */
    .descuentos-header{
        height: 20px;
        background-color: #222222;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }

    .descuentos-header p, .descuentos-header ul li{
        font-size: 10px;
        line-height: 11.72px;
        color: #F3F3F3;
        padding: 4px 0px;
    }
    

    .descuentos-header p{
        margin-left:85px;
    }

    .descuentos-header ul{
        display: flex;
        margin-right: 50px;
        list-style: none;
    }

    .descuentos-header ul li{
        margin-left: 20px;
    }

    .descuentos-header ul li img{
        margin-left: 2.5px;
    }
  




    .burger-header{
        display: none;
    }

    nav{
        display: block;
        margin-right: 40px;
    }

    nav ul{
        display: flex;
        list-style: none;
    }

    nav ul li{
        margin-right:20px;
        color: #FFFFFF;
        font-size: 13px;
        line-height: 15.23px;
    }
    
    /* MAIN */

    /* SECTION SLIDER*/

    .slider{
        background-image: url("../img/desktop-slider.png");
        background-repeat: no-repeat;
    }

    .container-slider{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 156px 12px 168px 648px;
    }

    .top-container-slider{
        padding: 9px 10px;
        height: 70px;
    }

    .top-container-slider h2{
        font-size: 30px;
        line-height: 35px;
     }
    .button{
        position:static;
    }

}