*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

/* TIPOGRAFIAS  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.roboto{
    font-family: 'Roboto', sans-serif;
}

/* MOBILE FIRST */

header{
    background-color: #F0A83E;
}

.descuentos-header{
    display: none;
}

.principal-header{
    display:flex;
    background-color: #F0A83E;
    height:62px;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: none;
}

.logo-header{
    margin-left: 40px;  
}

.burger-header{
    margin-right: 40px;
}

/*                      MAIN                         */

/*     SECTION     SLIDER  */

.slider{
    background-image: url("../img/mobile-slider.png");
    height:440px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.top-slider{
    height: 54px;
    width: 365px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-slider h2{
    color: #3C2313;
    text-align: center;
}

.slider p{
    align-self: flex-end;
    margin-right:28px;
    color: #3C2313;
}

.button-slider{
    align-self: flex-end;
    margin-right: 67px;
    width: 141px;
    height: 49px;
    background-color: #F0A83E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-slider a{
    text-decoration: none;
    color:#FFFFFF ;
    line-height: 19px;
}






/*                           DESKTOP                  */


@media (min-width:415px){

    /*                        HEADER                */

    /* SECTION DESCUENTOS */
    .descuentos-header{
        height: 20px;
        background-color: #222222;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }

    .descuentos-header p, .descuentos-header ul li{
        font-size: 10px;
        line-height: 11.72px;
        color: #F3F3F3;
        padding: 4px 0px;
    }
    

    .descuentos-header p{
        margin-left:85px;
    }

    .descuentos-header ul{
        display: flex;
        margin-right: 50px;
        list-style: none;
    }

    .descuentos-header ul li{
        margin-left: 20px;
    }

    .descuentos-header ul li img{
        margin-left: 2.5px;
    }
    
    .burger-header{
        display: none;
    }

    nav{
        display: block;
        margin-right: 40px;
    }

    nav ul{
        display: flex;
        list-style: none;
    }

    nav ul li{
        margin-right:20px;
        color: #FFFFFF;
        font-size: 13px;
        line-height: 15.23px;
    }
    
    /* MAIN */

    /* SECTION SLIDER*/

    .slider{
        background-image: url("../img/desktop-slider.png");
        background-repeat: no-repeat;
        align-items: flex-end;
        background-size: cover;
    }

    .top-slider{
        margin-right: 12px;
    }
    
    .slider p{
        margin-right: 95px;
    }

    .button-slider{
        margin-right: 116px;
    }




}